div {
  width: 50%;
  margin: 200px auto;
  perspective: 1000px;
  perspective-origin:0px 0px ;
  perspective-origin:50% 50%;
  perspective-origin:100% 50%;

}
div img {
  transition: all 0.35s;
}

div:hover img {  
  transform: translateZ(200px) scaleZ(5);
}

