*{margin:0; padding:0;}
#wrap{height:550px; width:700px;}
header{height:100px; width: 700px;background: gray;}
footer{height:50px; width: 700px; background: gray;}
#container{height:400px; width: 700px;}
#container>#left{height:400px; width:100px; float:left;}
#container>#center{height:400px; width: 500px; float:left;}
#container>#right{height:400px; width:100px;float:left;}

.box1_1{height:100px; width:100px;}
.box2_1{height:200px; width:100px;}
.box2_5{height:200px; width:500px;}

.bg1{background: red;}
.bg2{background: yellowgreen;}
.bg3{background:blue ;}
.bg4{background:skyblue ;}
