@import url(reset.css);
.border_tip{
  width:400px;
  font:12px "맑은 고딕",sans-serif;
  text-align: justify;
  background-color: darkgreen;
  color:white;
  padding:8px;
  position: relative;
  left:50%;
  margin-left: -200px;
  top: 100px;
}
.border_tip::before{
  content:'';
  position:absolute;
  border-top:10px solid red;
  border-left:10px solid blue;

}